vendor/
docroot/
docroot/libraries
composer.lock

# Ignore contrib module & theme folders.
docroot/*/contrib

# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings*.php
docroot/sites/*/services*.yml

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Ignore SimpleTest multi-site environment.
docroot/sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore SimpleTest multi-site environment.
# simpletest
.editorconfig
.gitattributes
